/* Boarder around image to make it look cleaner*/
img {   border-width 5x;
        border-style: solid;
        border-color: #000033;
}

/* references the id and adds the boarder*/
#container { margin: auto;
             background-color: #ffffff;
             width: 800px;
			 padding: 20px;
             box-shadow: 5px 5px 5px #1e1e1e;
             background-image: linear-gradient(to bottom, #FFFFFF, rgb(70, 56, 36)); 
}

/* Extra space on the left side of the paragraphs*/
dl  {   padding-left: 30px;
}

/* created box around my name to see it easier*/
h1	{ 	border-width: 3x;
    border-style: solid;
    border-color: #000033;
}

h2  {   padding-left: 15px
}