body {	background-color:black;
    color:White;
    font-family:Arial, Helvetica, or sans-serif;
    }

a  {   background-color:#cccccc;}

h1{	font-family: "Times New Roman", Times;
	color:#CCCCCC;}

.new{	color:red;
		font-style: italic;}
			
