form {
    background-color: rgb(209, 220, 248);
    font-family: 'Times New Roman', Times, serif;
    margin: 40px;
   
}

h1  {
    margin: 10px;
    font-size: 60px;
}

footer {
    margin: 30px;
}

#submit {
    background-color: rgb(59, 87, 226);
    font-weight:bold;
}

#reset {
    background-color: rgb(238, 76, 76);
    font-weight:bold;
}